.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.2/RectangleCount.deps.json
bin/Debug/netcoreapp2.2/RectangleCount.pdb
bin/Debug/netcoreapp2.2/RectangleCount.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/RectangleCount.runtimeconfig.json
obj/project.assets.json
obj/RectangleCount.csproj.nuget.cache
obj/RectangleCount.csproj.nuget.dgspec.json
obj/RectangleCount.csproj.nuget.g.props
obj/RectangleCount.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/RectangleCount.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/RectangleCount.pdb
obj/Debug/netcoreapp2.2/RectangleCount.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/RectangleCount.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/RectangleCount.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/RectangleCount.assets.cache
obj/Debug/netcoreapp2.2/RectangleCount.AssemblyInfo.cs
bin/Debug/netcoreapp2.2/RectangleCount.dll
obj/Debug/netcoreapp2.2/RectangleCount.dll
